<% block 'pageid': %>top<% end %>
<% block 'title': %>トップページ<% end %>
<% extend 'layout.ect' %>
<main>
    <h1>セロ弾きのゴーシュ</h1>
    <p>ゴーシュは町の活動写真館でセロを弾く係りでした。けれどもあんまり上手でないという評判でした。上手でないどころではなく実は仲間の楽手のなかではいちばん下手でしたから、いつでも楽長にいじめられるのでした。</p>
</main>
<% include 'menu.ect' %>

<% block 'scripts': %>
※ページ固有のスクリプトなど
<script>
$(function(){
  console.log("load")
})
</script>
<% end %>