<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title><% content 'title' %> | <%= @projectName %></title>
  </head>
  <body class="<% content 'pageid' %>">
    <% content %>
    <% content 'scripts' %>
  </body>
</html>